body {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    
}

ul li {
    display: inline;
}

.container {
     align-content: center;
}

.score .stars li {
    list-style: none;
    display: inline-block;
}

#alphabet li {
   
    list-style: none;
    margin: 0 10px 10px 0;
    width: 35px;
    height: 40px;
    padding: 5.5px;
    background: black;
    color: white;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 2.5px
}

#alphabet li:hover {
    background-color: grey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3)
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.17);
}